<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>All Locations</title>
</head>
<body>

<h2>Locations:</h2>

<table th:cellpadding="8px">

<tr>
	<th>Id</th>
	<th>Code</th>
	<th>Name</th>
	<th>Type</th>
</tr>

<tr th:each = "n : ${list}">
	<td th:text="${n.id}"> </td>
	<td th:text="${n.code}"> </td>
	<td th:text="${n.name}"> </td>
	<td th:text="${n.type}"> </td>
	<td> <a th:href="@{'deleteLocation?id='+${n.id}}">Delete</a></td>
	<td> <a th:href="@{'editLocation?id='+${n.id}}">Edit</a></td>
</tr>

</table>

<a href="locationCreate">Add Location</a>
	
</body>
</html>